import(MASS,mirt,NominalLogisticBiplot)
export(OrdinalLogisticBiplot,pordlogist,OrdinalLogBiplotEM,
plotOrdinalFittedVariable,plotOrdinalVariable,CheckDataSet,PlotClusters,
BiplotDensity)
S3method(summary,pordlogist)
S3method(summary,ordinal.logistic.biplot)
S3method(plot,ordinal.logistic.biplot)

